<header>
	<h3>Estadísticas del proyecto Quiz</h3>
</header>
<br><br>
Número total de preguntas: <%=data.totalPreguntas%><br>
Número total de comentarios: <%=data.totalComentarios%><br>
Número medio de comentarios por pregunta: <%=data.mediaPreguntasComentarios%><br>
Número de preguntas sin comentarios: <%=data.nocomentarioPreguntas%><br>
Número de preguntas con comentarios: <%=data.sicomentarioPreguntas%><br>